@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  
  /* Font sizes */
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-medium);
}

/* Font size classes */
body.font-small {
  font-size: var(--font-size-small);
}

body.font-medium {
  font-size: var(--font-size-medium);
}

body.font-large {
  font-size: var(--font-size-large);
}
